.vis-main {
  margin-top: 2.5vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-bottom: 50px;
}

.vis-head {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 6vh;
}

.vis-section {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  gap: 11rem;
}

@media (max-width: 768px) {
  .vis-main {
    padding: 5%;
    padding-bottom: 50px;
  }
  .vis-head {
    margin-top: 10vh;
    font-size: 1.8rem;
    margin-bottom: 1vh;
  }

  .vis-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  .vis-head {
    margin-top: 2vh;
    font-size: 1.5rem;
    margin-bottom: 5vh;
  }
  .vis-section {
    margin-top: 0;
  }
  .vis-main {
    padding: 5%;
    padding-bottom: 30px;
  }
}
