.vis-main {
  margin-top: 2.5vh;
  background-color: #000;
  height: 100vh;
}

.vis-head {
  margin-top: 13vh;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 12vh;
}

.vis-section {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  gap: 11rem;
}

@media (max-width: 768px) {
  .vis-head {
    margin-top: 10vh;
    font-size: 1.8rem;
    margin-bottom: 1vh;
  }

  .vis-section {
    flex-direction: column;
    justify-content: center;
    height: 150vh;
    gap: 3rem;
  }
}

@media (max-width: 480px) {
  .vis-head {
    font-size: 1.5rem;
  }
}
