body {
  background: #ffffff;
}

.Team-Nav {
  background: black;
  width: 100%;
  height: 110px;
  display: block;
  position: fixed;
}

.Team-main {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .Team-Nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
}

.Team-header-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.Team-subhead {
  margin-top: 12vh;
  display: flex;
  gap: 3px;
  color: black;
}

.Team-subhead-box {
  padding: 2px;
  height: 14px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 13px;
  border: 1px solid black;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.Team-head {
  width: 70%;
  font-family: Montserrat;
  font-size: 61px;
  font-weight: 600;
  color: black;
}

.Core-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 8vh;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

.Core-team-head {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  color: black;
}

.Core-cards {
  display: flex;
  height: 50vh;
  width: 80%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
