body {
  background-color: #000;
}

.vis-main {
  margin-top: 2.5vh;
}

.vis-head {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
}
