.navBar {
    /*background-color: #00000094; */
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: calc(100% - 40px);
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(16px);
    justify-content: space-between;
}

.navBar .logoSection {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navBar .logoSection .logo {
    background-image: url(../../assets/images/logo.png);
    height: 70px;
    width: 70px;
    background-size: cover;
}

.navBar .logoSection hr {
    height: 70px;
    width: 1px;
    background: #fff;
    border: none;
}

.navBar .logoSection .logoText {
    display: flex;
    flex-direction: column;
}

.navBar .logoSection .logoText h1 {
    font-size: 20px;
}

.navBar .logoSection .logoText p {
    /* font-size: 20px; */
    font-weight: 600;
    color: #BCBCBC;
}

.navBar .menuSection {
    display: flex;
    gap: 50px;
}
.navBar .menuSection p{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navBar .menuSection p:hover{
    color: #436FCD;
    font-weight: 600;
}