.vis-box {
  height: 65vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: #525252;
  gap: 20px;
}

.vis-box-head {
  color: #fff;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}

.vis-icon {
  margin-top: 6vh;
  width: 20vh;
  height: 20vh;
  flex-shrink: 0;
}

.vis-box-body {
  display: flex;
  width: 80%;
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
}
