.vis-box {
  height: 65vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: #525252;
  gap: 20px;
}

.vis-box-head {
  color: #fff;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 1vh;
}

.vis-icon {
  margin-top: 6vh;
  width: 35%;
  height: 30%;
  display: flex;
  justify-content: center;

  flex-shrink: 0;
}

.vis-box-body {
  display: flex;
  text-align: center;
  max-width: 80%;
  color: #fff;
  font-size: 1rem;
  font-family: Roboto;
}

@media (max-width: 768px) {
  .vis-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 2.5rem;
    padding: 35px;
    background: #525252;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .vis-box-head {
    font-size: 1.8rem;
  }
  .vis-box-body {
    font-size: 0.8rem;
  }
  .vis-box {
    height: auto;
    width: auto;
  }
}
