.About {
  background: #fff;
  height: 120vh;
}
.About-main {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

.About-section {
  justify-content: center;
  display: flex;
  gap: 23vh;
}

.About-img {
  width: 75vh;
  height: 40vh;
  flex-shrink: 0;
  border-radius: 21px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 41.7px 26px rgba(0, 0, 0, 0.25);
}

.About-body {
  width: 90vh;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

